/* .prod_row{
    margin-left: 5%;
    margin-right: 5%;
} */

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2%;
    width: 15%;
}

.card-body{
    width: 100%;
}

.card-para, .card-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.card-title:hover{
    color: black;
}