.images{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_list{
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 2px;
    border-radius: 6px;
}
.active_image{
    border: 2px solid #009688;
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 2px;
    border-radius: 6px;
}

#price-tag{
    color: #009688;
}